.cima {
    display: block;
}

.header0 {
    color: greenyellow;
    font-size: 1em;
    padding: 1em 1em;
}

.header1 {
    color: greenyellow;
    font-size: 2em;
    padding: 1em 1em;
}

.header2 {
    color: greenyellow;
    font-size: 2em;
    padding: 1em 1em;
}

.main0 {
    text-align: center;
    color: greenyellow;
    font-size: 25px;
    padding: 1em 1em;
}

.listaMain {
    color: greenyellow;
    font-size: 27px;
    padding: 1em 1em;
    display: flex;
    justify-content: center;
}

body :hover {
    color: #F94162;
    translate: 3px;
    transition: 2s;
}

body {
    background-image: url(tmatrix.jpg);
}